@import "tailwindcss";

:root {
  --font-sans: "Inter", -apple-system, system-ui, sans-serif;
  background-image: url('assets/bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}